<a href="https://colab.research.google.com/github/Lakshita0705/ML-Lab/blob/main/mlLab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv("/content/Iris.csv")

In [ ]:
print(df.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
print(df.columns)

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
print(df.shape)

(150, 6)

In [ ]:
print(df.tail())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
print(df.tail(n=1))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
149  150            5.9           3.0            5.1           1.8

            Species
149  Iris-virginica

In [ ]:
print(df.loc[0])

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [ ]:
print(df.loc[20])

Id                        21
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.7
PetalWidthCm             0.2
Species          Iris-setosa
Name: 20, dtype: object

In [ ]:
print(df.loc[[0,99,149]])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
99   100            5.7           2.8            4.1           1.3
149  150            5.9           3.0            5.1           1.8

             Species
0        Iris-setosa
99   Iris-versicolor
149   Iris-virginica

In [ ]:
print(df.iloc[1])

Id                         2
SepalLengthCm            4.9
SepalWidthCm             3.0
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [ ]:
print(df.iloc[99])

Id                           100
SepalLengthCm                5.7
SepalWidthCm                 2.8
PetalLengthCm                4.1
PetalWidthCm                 1.3
Species          Iris-versicolor
Name: 99, dtype: object

In [ ]:
print(df.iloc[-1])

Id                          150
SepalLengthCm               5.9
SepalWidthCm                3.0
PetalLengthCm               5.1
PetalWidthCm                1.8
Species          Iris-virginica
Name: 149, dtype: object

In [ ]:
print(df.iloc[[0,99,149]])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
99   100            5.7           2.8            4.1           1.3
149  150            5.9           3.0            5.1           1.8

             Species
0        Iris-setosa
99   Iris-versicolor
149   Iris-virginica

In [ ]:
subset=df.loc[:,['SepalLengthCm','SepalWidthCm']]
print(subset.head())

   SepalLengthCm  SepalWidthCm
0            5.1           3.5
1            4.9           3.0
2            4.7           3.2
3            4.6           3.1
4            5.0           3.6

In [ ]:
subset2=df.iloc[:,[2,4,-1]]
print(subset2.head())

   SepalWidthCm  PetalWidthCm      Species
0           3.5           0.2  Iris-setosa
1           3.0           0.2  Iris-setosa
2           3.2           0.2  Iris-setosa
3           3.1           0.2  Iris-setosa
4           3.6           0.2  Iris-setosa

In [ ]:
List1=list(range(6))
print(List1)

[0, 1, 2, 3, 4, 5]

In [ ]:
subset3=df.iloc[:,List1]
print(subset3.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
print(df.loc[20,'SepalWidthCm'])

3.4

In [ ]:
print(df.iloc[20,2])

3.4

In [ ]:
print(df.iloc[20,List1])

Id                        21
SepalLengthCm            5.4
SepalWidthCm             3.4
PetalLengthCm            1.7
PetalWidthCm             0.2
Species          Iris-setosa
Name: 20, dtype: object

In [ ]:
print(df.iloc[[0,99,149],[0,3,5]])

      Id  PetalLengthCm          Species
0      1            1.4      Iris-setosa
99   100            4.1  Iris-versicolor
149  150            5.1   Iris-virginica

In [ ]:
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
print(df.notnull().sum())

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [ ]:
df.loc[10:15,'SepalLengthCm']=np.nan
print(df.isnull().sum())

Id               0
SepalLengthCm    6
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df.loc[20:25,'PetalWidthCm']=np.nan
print(df.isnull().sum())

Id               0
SepalLengthCm    6
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     6
Species          0
dtype: int64

In [ ]:
df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(), inplace=True)

/tmp/ipython-input-3702063785.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['SepalLengthCm'].fillna(df['SepalLengthCm'].mean(), inplace=True)

In [ ]:
df['PetalWidthCm'].fillna(df['PetalWidthCm'].median(), inplace=True)

/tmp/ipython-input-2227252488.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PetalWidthCm'].fillna(df['PetalWidthCm'].median(), inplace=True)

In [ ]:
print(df.isnull().sum())

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.rename(columns={'SepalLengthCm':'SepalLength'},inplace=True)
print(df.columns)

Index(['Id', 'SepalLength', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df['SepalLength']=df['SepalLength'].astype(float)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLength    150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
df['PetalWidthCm']=df['PetalWidthCm'].astype(float)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLength    150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
print(df.iloc[-1])

Id                          150
SepalLength                 5.9
SepalWidthCm                3.0
PetalLengthCm               5.1
PetalWidthCm                1.8
Species          Iris-virginica
Name: 149, dtype: object

In [ ]:
df['Species'] = df['Species'].replace({'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2})
print(df.head())

   Id  SepalLength  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1          5.1           3.5            1.4           0.2        0
1   2          4.9           3.0            1.4           0.2        0
2   3          4.7           3.2            1.3           0.2        0
3   4          4.6           3.1            1.5           0.2        0
4   5          5.0           3.6            1.4           0.2        0